<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Add Beer</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h1>Create a Beer:</h1>
       
            <a href="/">Home</a>
      <form th:action="@{/addBeer}"
         th:object="${beerForm}" method="POST">
         Name:
         <input type="text" th:field="*{name}" />    
         <br/>
         price:
         <input type="text" th:field="*{price}" />     
         <br/>
         <input type="submit" value="Create" />
      </form>
       
      <br/>
       
      <!-- Check if errorMessage is not null and not empty -->
       
      <div th:if="${errorMessage}" th:utext="${errorMessage}"
         style="color:red;font-style:italic;">
         ...
      </div>
       
   </body>
   <footer>
	<div class="divContainer"
		style="flex-direction: row; position: absolute; bottom: 0; padding-top: 5em;">
		BeerProject- Adrien Paysant - HEARC Neuchâtel - JavaEE - 2020/2021</div>
</footer>
</html>