<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Adrien's Beer Project</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<h1>Welcome</h1>
	<h2 th:utext="${message}">..!..</h2>

	<a th:href="@{/beerList}">Beer List</a>

	<div class="divContainer"
		style="flex-direction: row; padding-top: 5em;">
		<img  alt="beer-source : https://portugalinews.eu/nortada-and-dott-deliver-craft-beer-at-home/" style="width: 40%; height: auto;"
			src="https://raw.githubusercontent.com/adrienpaysant/BeerProjectSpringJEE/dev/PBeer/beer.jpg?token=AK5SWRHTZVQNK7Y6PRWDOEK77YTDK">

	</div>

</body>

<footer>
	<div class="divContainer"
		style="flex-direction: row; position: absolute; bottom: 0; padding-top: 5em;">
		BeerProject- Adrien Paysant - HEARC Neuchâtel - JavaEE - 2020/2021</div>
</footer>

</html>