<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Adrien's Beer Project</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<h1>Welcome</h1>
	<h2 th:utext="${message}">..!..</h2>

	<!--  
       
         In Thymeleaf the equivalent of
         JSP's ${pageContext.request.contextPath}/edit.html
         would be @{/edit.html}
          
         -->

	<a th:href="@{/beerList}">Beer List</a>


	<img alt="" src="https://raw.githubusercontent.com/adrienpaysant/BeerProjectSpringJEE/dev/PBeer/beer.jpg?token=AK5SWRBCQ3ZNWQAEIFJMMT277YS5Q">
	
       
       
   </body>
    
</html>