<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Beer Update</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h1>Beer Update</h1>
      <a href="/">Home</a>
      <br/><br/>
      <div class="divContainer">
		<div></div>
         <table border="1">
            <tr>
               <th> Name</th>
               <th> Price</th>
            </tr>
            <tr th:each ="beer : ${beers}">
               <td th:utext="${beer.name}">...</td>
               <td th:utext="${beer.price}">...</td>
            </tr>
         </table>
 		<div th:each ="beer : ${beers}" class="divContainer" style="flex-direction: row;">
			 <form th:action="@{/{i}/update(i=${beer.index})}"
		         th:object="${beerForm}" method="POST">
		         Name:
		         <input type="text" th:field="*{name}" />    
		         <br/>
		         price:
		         <input type="text" th:field="*{price}" />     
		         <br/>
		         <input type="submit" value="Create" />
		      </form>
      	</div>
      </div>
      
   </body>
</html>